<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="width: 100%">
<div style="text-align: center">hello world</div>
<div style="text-align: center">图灵学院checkCookie:<input style="width:800px" th:value="${checkLogin}"/></div>
<div style="text-align: center">图灵学院initCookie:<input style="width:800px" th:value="${initTulingCookie}"/></div>
<div style="text-align: center">图灵学院cookie:<input style="width:800px" th:value="${tulingCookie}"/></div>
<div style="text-align: center">图灵学院header:<input style="width:800px" th:value="${tulingHeader}"/></div>
</body>
</html>
