<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="width: 100%">
<div style="text-align: center">https://www.tulingxueyuan.cn</div>
<div style="text-align: center">http://47.110.43.93:8080/initTuling?cookie=Hm_lvt_8bcb19db78384ee654732a25509a98d0=1603763470,1603763754,1603769043,1603769225;PHPSESSID=eho80en682doi0s6r04cr6joq4;</div>
<div style="text-align: center">图灵学院checkCookie:<input style="width:800px" th:value="${checkLogin}"/></div>
<div style="text-align: center">图灵学院initCookie:<input style="width:800px" th:value="${initTulingCookie}"/></div>
<div style="text-align: center">图灵学院cookie:<input style="width:800px" th:value="${tulingCookie}"/></div>
<div style="text-align: center">图灵学院header:<input style="width:800px" th:value="${tulingHeader}"/></div>
</body>
</html>
